

.Link{
    text-decoration: none;
    color: #333;
}

.bodyContainer{
    /* padding: 60px; */
    max-width: 100vw;
    height: 100%;
    padding: 20px 60px;
    /* position: relative; */
}


.navContainer{
    /* width: 100vw; */
    /* position: static; */
    /* top: 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px 0px; */

}

.navButtonsContainer{
    display: flex;
    max-width: 100vw;
    overflow: hidden;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* padding: 10px 60px; */
    margin: 20px  0px;
    gap: 10px;
}

.navButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 249, 248);
    padding: 0.8vw 4.8vw;  
    /* margin: 0px 20px; */
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 3px #e0dedecb;
    gap: 1vw;
    flex-shrink: 3  ;
    transition: 0.2s all ease;

}

.navButtons p{
    font-size: 0.85vw;
    /* color: #333;s */
    
}

.navButtons img{
    width: 1.2rem;
}

.navButtons:hover, .profile:hover{
    background-color: #00704a;
    color: white;
    
}
/* .navButtons img:hover{
    filter: hue-rotate(-90deg);
} */
.profile{
    /* background-color: rgb(250, 249, 248); */
    padding: 0.3vw 1.6vw;
    flex-shrink: 1;
    /* display: flex; */
    flex-direction: column;
    gap: 0px;
    margin-right: 2px;
    /* align-items: center; */
    /* justify-content: center; */
    /* border-radius: 8px; */
    /* box-shadow: 2px 2px 3px #e0dedecb; */

}

.profile p {
    font-size: 0.6vw;
    padding-top: 2px;
    /* padding-bottom: -40px; */
    /* font-weight: 100; */
}
/* .profile img{
    width: 20px;
} */

/* .mainContent{
    background-color: antiquewhite;
    width: 100vw;
    height: 80vh;
} */

.sectionHeading{
    color: #00704A;
    font-weight: 500;
    font-size: 2em;
    /* line-height: 30px; */
    margin: 25px 0px;
}

.footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    /* overflow: visible; */
    height: 60px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* justify-content: center; */

}

.footerContent{
    margin: 0px 60px;
    display: flex;
    gap: 15px;
    font-size: 14px;
    font-weight: 500;
    /* align-items: center; */
    /* justify-content: flex-end; */
}

