@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.easyMyMoveLogoContainer {
  width: 50vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  /* overflow: hidden; */
}
.easyMyMovelogo1 img {
  width: 45vw;
  /* min-width: 40vw; */
}

.LoginContainer {
  width: 50vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginbox {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.loginbox h1 {
  text-align: center;
  color: #00704a;
  font-size: 4rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 60px;
}

.loginInputs input {
  border: none;
  width: 100%;
  outline: none;
  background: transparent;
  padding: 5px 0px;
  text-align: start;
}
.loginInputs hr {
  color: #555;
  margin-bottom: 30px;
  /* width: 95%; */
}

.submitbutton input {
  padding: 8px 20px;
  margin-top: 30px;
  border-radius: 4px;
  color: #f6f6f6;
  background-color: #00704a;
  outline: none;
  border: none;
  transition: 0.2s all ease;
}

.submitbutton input:hover{
  background-color: #029061;
  color: white;
}

@media screen and (max-width:640px) {
  .main-container{
    display: flex;
    flex-direction: column;
  }
  .easyMyMoveLogoContainer{
    width: 100vw;
    min-height: 100px;
    /* height: 100px;  */
  }
  .LoginContainer{
    width: 80vw;
  }
  .loginbox h1{
    font-size: 3rem;
  }
  
}

@media screen and (max-width:768px){
  .easyMyMovelogo1 img{
    width: 350px;
  }
}

/* @media screen and (max-width:1024px){
  .easyMyMovelogo1 img{
    width: 450px;
  }
} */