.sectionHeading{
    color: #00704A;
    font-weight: 500;
    font-size: 2em;
    /* line-height: 30px; */
    margin: 25px 0px;
}

.personalDetailsMain, .businessDetailsMain{
    width: 60%;
}

.businessSection{
    margin-right: 16%;
}


.personalDetailsMain p, .businessDetailsMain p{
    margin: 10px 0px;
    color: #333;
    font-size: 20px;
}


.detailsHeading{
    margin-bottom: 20px;
    color: #333;
    font-size: 3vw;
}
.sectionDetails{
    display: flex;  
    /* overflow: scroll; */
    align-items: center;
    justify-content: space-between;
    /* width: 80%; */
    /* margin: 0px 60px; */
    overflow: hidden;
    border: 2px solid #e0dddd;
    border-radius: 15px;
    height: 60vh;
    padding: 60px;
}
.mainSection{
    margin: 0px 60px;
}